* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  color: black;
}
body {
    background-color: red;
}

a {
  text-decoration: none;
}

nav,
ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.nav-bar {
    padding: 2.5rem;
    border-bottom: solid 1px #000;
    font-weight: 600;
    background-color: blue;
}

